<app-nav-menu></app-nav-menu>
<div class="sidebar">
  <header translate>Title1</header>
  <ul>
    <li><a routerLink="AddTask"><i class="material-icons">add</i>{{'SlideItem4' |translate }}</a></li>
    <li><a routerLink="DeleteTask"><i class="material-icons">delete_sweep</i>{{'SlideItem5' |translate }}</a></li>
    <li><a routerLink="TaskRecords"><i class="material-icons">folder</i>{{'SlideItem6' |translate }}</a></li>
    <li><a routerLink="AssinTask"><i class="material-icons">assignment_ind</i>{{'SlideItem7' |translate }}</a></li>
    <li><a routerLink="TaskInfo"><i class="material-icons">info</i>{{'SlideItem8' |translate }}</a></li>
  </ul>
</div>

<div id="section">
  <router-outlet></router-outlet>

</div>

